{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Spurthy Job Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="navbar">
        <div class="logo">Spurthy Job Portal</div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/jobs/">Jobs</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </div>

    <div class="hero">
        <h1>Find Your Dream Job 🚀</h1>
        <p>Build your career with Spurthy Job Portal</p>

        <a href="/jobs" class="btn">Explore Jobs</a>
    </div>

</body>
</html>