{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Spurthy Job Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <div class="navbar">
        <div class="logo">Spurthy Job Portal</div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/jobs">Jobs</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <!-- HERO SECTION -->
    <div class="hero">
        <h1>Find Your Dream Job 🚀</h1>
        <p>Build your career with Spurthy Job Portal</p>

        <a href="#jobs" class="btn">Explore Jobs</a>
    </div>

    <!-- JOBS SECTION -->
    <div id="jobs" style="margin-top:60px; text-align:center;">
        <h2>Latest Jobs</h2>
    </div>

    {% for job in jobs %}
        <div style="width:60%; margin:20px auto; background:white; padding:15px; border-radius:10px;">
            <h3>{{ job.title }}</h3>
            <p><b>Company:</b> {{ job.company }}</p>
            <p><b>Location:</b> {{ job.location }}</p>
            <p>{{ job.description }}</p>

            <a href="#" class="btn">Apply Now</a>
        </div>
    {% empty %}
        <p style="text-align:center;">No jobs available</p>
    {% endfor %}

</body>
</html>
